@model  PlutoWeb.Models.AlphabeticalPagingViewModel

<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Substances Listing</div>

    <div class="panel-body">

        <h3>Substances Listing</h3>
        @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadSubstances", new { selectedLetter = x }))

        <table class="table table-condensed table-striped" style="margin: 4px">

            <tr>
                <th>
                    @Html.DisplayName("Substance ID")
                </th>
                <th>
                    @Html.DisplayName("Substance Name")
                </th>
                <th>
                    @Html.DisplayName("Substance Code")
                </th>
               
            </tr>

            @foreach (var item in Model.SubstancePaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubstanceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubstanceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubstanceCode)
                    </td>
                   

                </tr>
            }
        </table>




    </div>
    @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadSubstances", new { selectedLetter = x }))


</div>

