@model  PlutoWeb.Models.AlphabeticalPagingViewModel

<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Consultant Listing</div>

    <div class="panel-body">

        <h3>Consultant Listing</h3>
        @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadConsultants", new { selectedLetter = x }))

        <table class="table" style="margin: 4px">

            <tr>
                <th>
                    @Html.DisplayName("Consultant ID")
                </th>
                <th>
                    @Html.DisplayName(" Name")
                </th>
                <th>
                    @Html.DisplayName("Address")
                </th>
                <th>
                    @Html.DisplayName("City")
                </th>
                <th>
                    @Html.DisplayName("Province")
                </th>
                <th>
                    @Html.DisplayName("Postal code")
                </th>
                <th>
                    @Html.DisplayName("Phone")
                </th>
                <th>
                    @Html.DisplayName("Notes")
                </th>
            </tr>

            @foreach (var item in Model.ConsultantPaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantAddr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantProv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantPostal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsultantNotes)
                    </td>
                </tr>
            }
        </table>




    </div>
    @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadConsultants", new { selectedLetter = x }))


</div>

