@model PlutoWeb.Core.Domain.tblConsultants

@{
    ViewBag.Title = "GetThisConsult";
}

<h2>GetThisConsult</h2>

<div>
    <h4>tblConsultants</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantProv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantProv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsultantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
