@model IEnumerable<PlutoWeb.Core.Domain.tblTruckCompanies>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompProv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TruckCompPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompProv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TruckCompPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TruckCompId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TruckCompId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TruckCompId })
        </td>
    </tr>
}

</table>
