@model  PlutoWeb.Models.AlphabeticalPagingViewModel

<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Generator Listing</div>

    <div class="panel-body">

        <h3>Generator Listing</h3>
        @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadGenerators", new { selectedLetter = x }))

        <table class="table-condensed table-striped" style="margin: 4px">

            <tr>
                <th>
                    @Html.DisplayName("Generator ID")
                </th>
                <th>
                    @Html.DisplayName("Generator Name")
                </th>
                <th>
                    @Html.DisplayName("Address")
                </th>
                <th>
                    @Html.DisplayName("City")
                </th>
                <th>
                    @Html.DisplayName("Province")
                </th>
                <th>
                    @Html.DisplayName("Postal code")
                </th>
                <th>
                    @Html.DisplayName("Phone")
                </th>
            </tr>

            @foreach (var item in Model.GeneratorPaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenaratorAddr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorProv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorPostal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorPhone)
                    </td>

                </tr>
            }
        </table>




    </div>
    @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadGenerators", new { selectedLetter = x }))


</div>

