@model  PlutoWeb.Models.AlphabeticalPagingViewModel

<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Truck Company Listing</div>

    <div class="panel-body">

        <h3>Truck Company Listing</h3>
        @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadTruckCompanies", new { selectedLetter = x }))

        <table class="table" style="margin: 4px">

            <tr>
                <th>
                    @Html.DisplayName("Truck Comp ID")
                </th>
                <th>
                    @Html.DisplayName("Truck Company Name")
                </th>
                <th>
                    @Html.DisplayName("Street Address")
                </th>
                <th>
                    @Html.DisplayName("City")
                </th>
                <th>
                    @Html.DisplayName("Province")
                </th>
                <th>
                    @Html.DisplayName("Postal code")
                </th>
                <th>
                    @Html.DisplayName("Phone")
                </th>
            </tr>

            @foreach (var item in Model.TruckCompanyPaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompAddr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompProv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompPostal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TruckCompPhone)
                    </td>

                </tr>
            }
        </table>




    </div>
    @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadTruckCompanies", new { selectedLetter = x }))


</div>

