@model  PlutoWeb.Models.AlphabeticalPagingViewModel

<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Waste Description Codes Listing</div>

    <div class="panel-body">

        <h3>Waste Description Codes Listing</h3>
        @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadWasteDescCodes", new { selectedLetter = x }))

        <table class="table" style="margin: 4px">

            <tr>
                <th>
                    @Html.DisplayName("Waste Code ID")
                </th>
                <th>
                    @Html.DisplayName("Waste Description")
                </th>
                <th>
                    @Html.DisplayName("Waste Description Code")
                </th>
                <th>
                    @Html.DisplayName("Waste Description Invoice")
                </th>
        
            </tr>

            @foreach (var item in Model.WasteDescCodesPaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasteDescriptionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasteDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasteDescriptionCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasteDescriptionInvoice)
                    </td>
            

                </tr>
            }
        </table>




    </div>
    @Html.AlphabeticalPager(Model.SelectedLetter, Model.FirstLetters, x => Url.Action("LoadWasteDescCodes", new { selectedLetter = x }))


</div>

